<!DOCTYPE html>
<html lang="es">
    <head>
        <title>ARPanel_Itinerario</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@0.3.1/dist/mindar.prod.js"></script>
        <script>
            window.onorientationchange = function() { 
              window.location.reload();} 
            
            document.addEventListener("DOMContentLoaded", function() {
              const sceneEl = document.querySelector('a-scene');
              const arSystem = sceneEl.systems["mindar-system"];
      
              const acceso_3torres =  document.querySelector('#acceso_3torres');
              const acceso_pabgob =  document.querySelector('#acceso_pabgob');
              const acceso_ciencia =  document.querySelector('#acceso_ciencia');
              const acceso_torrelavega =  document.querySelector('#acceso_torrelavega');
              const acceso_paraninfo =  document.querySelector('#acceso_paraninfo');
      
              // detect click event
              acceso_3torres.addEventListener("click", event => {
                window.open("https://uc360.unican.es/3torres/");
              });
      
              acceso_pabgob.addEventListener("click", event => {
                window.open("https://uc360.unican.es/pabellondegobierno/");
              });
      
              acceso_ciencia.addEventListener("click", event => {
                window.open("https://uc360.unican.es/tourUC/");
              });
      
              // acceso_torrelavega.addEventListener("click", event => {
              //   window.open("");
              // });
      
              acceso_paraninfo.addEventListener("click", event => {
                window.open("https://uc360.unican.es/paraninfo/");
              });
      
            });

            
      
          </script>
    </head>
    
    <body>

        <a-scene id="scene" mindar="imageTargetSrc: ../static/target/targets.mind; showStats: false;" color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights" vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">

          <a-assets>
            <a-asset-item id="asset_sign_360" src="../static/models/sign360.gltf"></a-asset-item>
          </a-assets>
      
          <a-camera position="0 0 0" look-controls="enabled: false" cursor="fuse: false; rayOrigin: mouse;" raycaster="far: 10000; objects: .clickable"></a-camera>
      
          <a-entity mindar-image-target="targetIndex: 0">
            <a-gltf-model class="clickable" id="acceso_3torres" src="#asset_sign_360" rotation="90 0 0" position="-1.489 3.615 0.2" scale="0.015 0.015 0.015" animation-mixer="clip: 360Action.001"></a-gltf-model>
            <a-gltf-model class="clickable" id="acceso_pabgob" src="#asset_sign_360" rotation="90 0 0" position="-2.449 2.227 0.2" scale="0.015 0.015 0.015" animation-mixer="clip: 360Action.001"></a-gltf-model>
            <a-gltf-model class="clickable" id="acceso_ciencia" src="#asset_sign_360" rotation="90 0 0" position="1.241 2.222 0.2" scale="0.015 0.015 0.015" animation-mixer="clip: 360Action.001"></a-gltf-model>
            <!-- <a-gltf-model class="clickable" id="acceso_torrelavega" src="#asset_sign_360" rotation="90 0 0" position="2.83 0.21 0.2" scale="0.015 0.015 0.015" animation-mixer="clip: 360Action.001"></a-gltf-model> -->
            <a-gltf-model class="clickable" id="acceso_paraninfo" src="#asset_sign_360" rotation="90 0 0" position="-1.316 1.048 0.2" scale="0.015 0.015 0.015" animation-mixer="clip: 360Action.001"></a-gltf-model>
          </a-entity>

        </a-scene>


        <footer class="w3-row color-uc">
          <div class="w3-col w3-container-fluid" style="width:20%">
            <img class="w3-image w3-padding-small" style="max-height:60px" src="../static/img/logo_uc.png" alt="ic_uc">
          </div>
          <div class="w3-col w3-container text-white" style="height:100%; width:60%; text-align:center;">
            <p>ITINERARIO CULTURAL</p>
          </div>
          <div class="w3-col w3-container-fluid" style="width:20%;">
            <img class="w3-image w3-padding-small" style="max-height:60px" src="../static/img/ic_cultural.svg" alt="ic_cultural">
          </div>
        </footer> 


    </body>
</html>